<html>
    <head>
        <title> Template 5</title>
    <style>
        body
        {
		margin-top: 50px;
		margin-right: 40px;
		margin-bottom: 10px;
		margin-left: 50px;
	}
	
    </style>
    </head>
    <body>

        <center>
        <table border="1" cellpadding="25" width="90%">
           <tr>


                <td rowspan="10" bgcolor="AQUA" width="55"></td>
                <td rowspan="10"><center><h2><p align="center"> <font style="display: $n1">$name</font></h2></p><br></center>

<font style="display:$img1">
<img src="data:image/jpg;base64, $imgname" alt="not found" align="right" height=150 width=120/>
</font>

                <p align="center"> <font style="display: $n5">$discipline</font><br>
  <font style="display: $n2">$email</font><br>
 <font style="display: $n4">$address</font><br>
<font style="display: $n3">Phone: $contact</font>  </p><br><br><br>
                
		<font style="display: $f1"><p > 10th</p><hr size=2 color="AQUA"> <p>&10 </p></font><br><br>
                <font style="display: $f2"> <p > 12th</p><hr size=2 color="AQUA"> <p>&12 </p></font><br><br>
                <font style="display: $f3"><p>Graduation </p><hr size=2 color="AQUA"> <p> &grad</p></font><br><br>
                <font style="display: $f4"><p> Thesis/Publications</p><hr size=2 color="AQUA"> <p> &thesis</p></font><br><br>
                <font style="display: $f5"><p> Academic Achievements </p><hr size=2 color="AQUA"> <p>&acad </p></font><br><br>
                <font style="display: $f6"><p> Scholastic Achievements</p><hr size=2 color="AQUA"> <p> &schol</p></font><br><br>
                <font style="display: $f7"><p> Seminars/Workshops</p><hr size=2 color="AQUA"> <p> &seminar</p></font><br><br>
                <font style="display: $f8"><p> Co-Curricular Activities </p><hr size=2 color="AQUA"> <p> &cocurr</p></font><br><br>
		<font style="display: $f9"><p> Miscellaneous  </p><hr size=2 color="AQUA"> <p>&misc </p></font><br><br>            
		</td>
            </tr>
            
           </table><br>
        </center>
    <center>email:  $email   || contact no:   $contact   || D.O.B:  $dob  || Batch: $batch </center>
    </body>
</html>