<html>
    <head>
        <title> Template 3</title>
    <style>
        body
        {
		margin-top: 50px;
		margin-right: 40px;
		margin-bottom: 10px;
		margin-left: 50px;
	}
	
    </style>
    </head>
    <body>
        <center>
        <table border="1" cellpadding="20" width="90%">
            <tr>
                <td><font style="display: $n1">$name</font><br> <font style="display: $n5">$discipline</font> </td>
                <td><font style="display: $n2">$email</font> <br><font style="display: $n4">$address</font></td>
            </tr>
            
            <tr style="display: $f1">
                <td bgcolor="AQUA">Educational Qualifications</td>
                <td> &edu</td>
            </tr>
            <tr style="display: $f2">
                <td bgcolor="AQUA">Academic Achievements</td>
                <td>&acad </td>
            </tr>
            <tr style="display: $f3">
                <td bgcolor="AQUA">Scholastic Achievements</td>
                <td>  &schol</td>
            </tr>
        
            <tr style="display: $f4">
                <td bgcolor="AQUA"> Thesis/Publications  </td>
                <td> &pub</td>
            </tr>
            <tr style="display: $f5">
                <td bgcolor="AQUA">Sponsored Research Projects </td>
                <td> &res</td>
            </tr>
        
            <tr style="display: $f6">
                <td bgcolor="AQUA"> Workshops/ Seminars </td>
                <td> &work</td>
            </tr>
            <tr style="display: $f7">
                <td bgcolor="AQUA"> Certifications </td>
                <td> &certi </td>
            </tr>
        
            <tr style="display: $f8">
                <td bgcolor="AQUA"> Internship  </td>
                <td> &intern</td>
            </tr>
            <tr style="display: $f9">
                <td bgcolor="AQUA">  Position of responsibility</td>
                <td>&pos </td>
            </tr>
        
            <tr style="display: $y1">
                <td bgcolor="AQUA">Co-Curricular Activities  </td>
                <td>&cocurr </td>
            </tr>
            <tr style="display: $y2">
                <td bgcolor="AQUA"> Entrepreneurship</td>
                <td>&entre  </td>
            </tr>
                
            <tr style="display: $y3">
                <td bgcolor="AQUA"> Miscellaneous </td>
                <td> &misc</td>
            </tr>
            
        </table><br>
        </center>
    <center>email: $email    || contact no: $contact     || D.O.B:  $dob  || Batch: $batch </center>
    </body>
</html>