<html>
    <head>
        <title> Template 6</title>
    <style>
        h2
        {
		margin-top: 50px;
		margin-right: 40px;
		margin-bottom: 10px;
		margin-left: 70px;
	}
	
    </style>
    </head>
    <body>
        <h2><b><font style="display: $n1">$name</font> </b></h2>
        <center>
        <table border="2" cellpadding="15" cellspacing="2" width="90%">
            <tr>
                <td rowspan="3"> <font style="display: $n5">$discipline</font>  </td>
                  

                </td>
            </tr>
            <tr>
              <td> <font style="display: $n4">$address</font><br><font style="display: $n3">Phone: $contact</font></td></tr><tr>

<td ><font style="display: $n2">$email</font>
		</td></tr>
            
            
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f1">
            <tr>
                <td bgcolor="silver" width="50%">  Academic Achievements </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2">&acad </td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f2">
            <tr>
                <td bgcolor="silver" width="50%">Scholastic Achievements </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2" >&schol </td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f3">
            <tr>
                <td bgcolor="silver" width="50%"> Publications </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2"> &pub </td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f4">
            <tr>
                <td bgcolor="silver" width="50%">Projects  </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2"> &proj</td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f5">
            <tr>
                <td bgcolor="silver" width="50%"> Research Projects</td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2"> &res</td>
            </tr>
        </table>
        
        <table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f6">
            <tr>
                <td bgcolor="silver" width="50%"> Training/Internship  </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2">&intern </td>
            </tr>
</table>
<table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f7">
            <tr>
                <td bgcolor="silver" width="50%"> Certifications </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2">&certi </td>
            </tr>
</table>
<table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f8">
            <tr>
                <td bgcolor="silver" width="50%"> Position of Responsibility </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2">&pos </td>
            </tr>
</table>
<table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $f9">
            <tr>
                <td bgcolor="silver" width="50%">Entrepreneurship  </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2">&entre </td>
            </tr>
        </table>

<table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $y1">
            <tr>
                <td bgcolor="silver" width="50%">Co-Curricular Activities  </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2"> &cocurr </td>
            </tr>
        </table>       
<table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $y2">
            <tr>
                <td bgcolor="silver" width="50%">Moot Courts  </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2"> &moot </td>
            </tr>
        </table>

<table border="2" cellpadding="15" cellspacing="2" width="90%" style="display: $y3">
            <tr>
                <td bgcolor="silver" width="50%">Add on courses  </td>
                <td> </td>
            </tr>
            <tr>
                <td colspan="2"> &add </td>
            </tr>
        </table>

 </center>
    <center>email: $email  || contact no: $contact     || D.O.B:  $dob    || Batch: $batch </center>
    </body>
</html>