<html>
    <head>
        <title> Template 4</title>
    <style>
        body
        {
		margin-top: 50px;
		margin-right: 40px;
		margin-bottom: 10px;
		margin-left: 50px;
	}
	
    </style>
    </head>
    <body>
        <center>
        <table border="1" cellpadding="25" width="90%">
            <tr >
                <td rowspan="12" bgcolor="AQUA" width="350"><font style="display: $n1">$name</font><br><font style="display: $n2">$email</font> 
<br> <font style="display: $n4">$address</font><br><font style="display: $n3">Phone: $contact</font></td>
                <td style="display: $f1"><p >Academic Achievements </p><hr> <p > &acad</p></td>
            </tr>
            <tr style="display: $f2">
      			<td><p >Scholastic Achievements </p><hr> <p >&schol</p></td>
            </tr>
            <tr style="display: $f3">
                <td><p > Publications  </p><hr> <p >&pub</p></td>
            </tr>
            <tr style="display: $f4">
                <td><p >Projects </p><hr> <p >&proj</p></td>
            </tr>
            <tr style="display: $f5">
                <td><p >Research Projects</p><hr> <p >&res </p></td>
            </tr>
            <tr style="display: $f6">
                <td><p >Training/Internship </p><hr> <p > &intern</p></td>
            </tr>
            <tr style="display: $f7">
                <td><p  >Certifications </p><hr> <p >&certi</p></td>
            </tr>
            <tr style="display: $f8">
                <td><p >Position of Responsibility </p><hr> <p > &pos</p></td>
            </tr>
            <tr style="display: $f9">
                <td><p>Entrepreneurship</p><hr> <p>&entre</p></td>
            </tr >
                      
<tr style="display: $y1">
                <td><p>Co-Curricular Activities </p><hr> <p>&cocurr</p></td>
            </tr >
                     
<tr style="display: $y2">
                <td><p>Moot Courts</p><hr> <p>&moot</p></td>
            </tr >
                     
<tr style="display: $y3">
                <td><p>Add on courses </p><hr> <p>&add</p></td>
            </tr >
                              
           </table><br>
        </center>
    <center>email:  $email   || contact no:  $contact    || D.O.B: $dob   || Batch: $batch</center>
    </body>
</html>