<html>
    <head>
        <title> Template 2</title>
    <style>
        
	body
        {
            border-style: solid;
            border-width: 2px;
            margin-top: 50px;
	    margin-right: 40px;
	    margin-bottom: 10px;
	    margin-left: 50px;
        }
    </style>
    </head>
    <body>
        <center>
        <table cellpadding="15" cellspacing="2" width="100%" align="center">
            <tr>
                <td align=right><h2><b><u><font style="display: $n1">$name</font></u></b></h2></td>
                 
            </tr>
            <tr>
                <td colspan="2" align="center"> <font style="display: $n4">$address</font><br><font style="display: $n2">$email</font></td>
            </tr>
            <tr style="display: $f1">
                <td colspan="2" bgcolor="black"> <font color="white">Educational Qualifications</font> </td>
            </tr>
             
            <tr style="display: $f1">
                <td colspan="2">&edu </td>
            </tr>
            <tr style="display: $f2">
                <td colspan="2" bgcolor="black"> <font color="white">Academic Achievements</font>  </td>
            </tr>
            <tr style="display: $f2">
                <td colspan="2" >&acad </td>
            </tr>
            <tr style="display: $f3">
                <td colspan="2" bgcolor="black">  <font color="white">Scholastic Achievements</font> </td>
            </tr>
            <tr style="display: $f3">
                <td colspan="2"> &schol </td>
            </tr>
            <tr style="display: $f4">
                <td colspan="2" bgcolor="black"> <font color="white">Thesis/Publications </font>  </td>
            </tr>
            <tr style="display: $f4">
                <td colspan="2">&pub </td>
            </tr>
            <tr style="display: $f5">
                <td colspan="2" bgcolor="black"> <font color="white">Sponsored Research Projects</font>  </td>
            </tr>
            <tr style="display: $f5">
                <td colspan="2"> &res</td>
            </tr>
            <tr style="display: $f6">
                <td colspan="2" bgcolor="black"><font color="white">Workshops/ Seminars</font>   </td>
            </tr>
            <tr style="display: $f6">
                <td colspan="2">&work </td>
            </tr>
            <tr style="display: $f7">
                <td colspan="2" bgcolor="black"> <font color="white">Certifications </font>  </td>
            </tr>
            <tr style="display: $f7">
                <td colspan="2">&certi  </td>
            </tr>
            <tr style="display: $f8">
                <td colspan="2" bgcolor="black"> <font color="white">Internships </font> </td>
            </tr>
            <tr style="display: $f8">
                <td colspan="2">&intern </td>
            </tr>

	     <tr style="display: $f9">
                <td colspan="2" bgcolor="black"> <font color="white"> Position of responsibility</font> </td>
            </tr>
            <tr style="display: $f9">
                <td colspan="2"> &pos</td>
            </tr>
 <tr style="display: $y1">
                <td colspan="2" bgcolor="black"> <font color="white">Co-Curricular Activities</font> </td>
            </tr>
            <tr style="display: $y1">
                <td colspan="2"> &cocurr</td>
            </tr>
 <tr style="display: $y2">
                <td colspan="2" bgcolor="black"> <font color="white">Entrepreneurship</font> </td>
            </tr>
            <tr style="display: $y2">
                <td colspan="2"> &entre </td>
            </tr>   
<tr style="display: $y3">
                <td colspan="2" bgcolor="black"> <font color="white">Miscellaneous </font> </td>
            </tr>
            <tr style="display: $y3">
                <td colspan="2"> &misc</td>
            </tr>       </table><br>
        <center>contact no:  $contact    || D.O.B: $dob    || Batch: $batch</center>
    </body>
</html>