<html>
    <head>
        <title> Template 9</title>
    <style>
        body
        {
		margin-top: 50px;
		margin-right: 40px;
		margin-bottom: 10px;
		margin-left: 50px;
	}


    </style>
    </head>
    <body>
        <center>
        <table border="1" cellpadding="20" width="90%">
            <tr>
                <td bgcolor="GREY"> <p><font style="display: $n1">$name</font><br><font style="display: $n5">$discipline</font>  </p><br>
 <p> <font style="display: $n2">$email</font><br>
 <font style="display: $n4">$address</font><br><font style="display: $n3">Phone: $contact</font></p><br>
<font style="display:$img1">
<img src="data:image/jpg;base64, $imgname" alt="not found" align="center" height=150 width=120/>
</font></td>

            </tr>
            <tr style="display: $f1">
                <td> <p> 10th</p><hr size=4 color="GREY"> <br> <p> &10</p><br><br> </td>
            </tr>
             
            <tr style="display: $f2">
                <td> <p>12th </p><hr size=4 color="GREY"> <br> <p>&12</p><br><br> </td>
            </tr>
            <tr style="display: $f3">
                <td> <p> Graduation   </p><hr size=4 color="GREY"> <br> <p> &grad</p><br><br> </td>
            </tr>
            <tr style="display: $f4">
                <td>  <p>Thesis/Publications</p><hr size=4 color="GREY"> <br> <p>&thesis</p><br><br> </td>
            </tr>
            <tr style="display: $f5">
                <td> <p>Academic Achievements </p><hr size=4 color="GREY"> <br> <p> &acad</p><br><br> </td>
            </tr>
            <tr style="display: $f6">
                <td><p> Scholastic Achievement</p><hr size=4 color="GREY"> <br> <p> &schol</p><br><br> </td>
            </tr>
<tr style="display: $f7">
                <td>  <p> Seminars/Workshops</p><hr size=4 color="GREY"> <br> <p> &seminar</p><br><br> </td>
            </tr>
<tr style="display: $f8">
                <td>  Co-Curricular Activities <hr size=4 color="GREY"> <br> <p> &cocurr</p><br><br> </td>
            </tr>
<tr style="display: $f9">
                <td>  <p>Miscellaneous  </p><hr size=4 color="GREY"> <br> <p> &misc</p><br><br> </td>
            </tr>

        </table><br>
        </center>
    <center> D.O.B:   $dob || Batch: $batch </center>
    </body>
</html>