<html>
    <head>
        <title> Template 8</title>
    <style>
        
	body
        {
            border-style: solid;
            border-width: 2px;
            margin-top: 50px;
	    margin-right: 40px;
	    margin-bottom: 10px;
	    margin-left: 50px;
        }
    </style>
    </head>
    <body>
        <center>
        <table cellpadding="15" cellspacing="2" width="100%" align="center">
            <tr>
                <td><h2><b><font style="display: $n1">$name</font><br><font style="display: $n5">$discipline</font> <br> <font style="display: $n2">$email</font>
 <br><font style="display: $n4">$address</font>
<br><font style="display: $n3">Phone: $contact</font> </b></h2><hr size=4 color="SILVER"></td>
                 
            </tr>
            <tr style="display: $f1">
                <td> <p> Academic Achievements </p><hr size=4 color="SILVER"> <br> <p>&acad</p><br><br> </td>
            </tr>
             
            <tr style="display: $f2">
                <td> <p> Scholastic Achievements </p><hr size=4 color="SILVER"> <br> <p> &schol </p><br><br> </td>
            </tr>
            <tr style="display: $f3">
                <td> <p> Publications </p><hr size=4 color="SILVER"> <br> <p> &pub</p><br><br> </td>
            </tr>
            <tr style="display: $f4">
                <td>  <p>Projects </p><hr size=4 color="SILVER"> <br> <p> &proj</p><br><br> </td>
            </tr>
            <tr style="display: $f5">
                <td> <p>Research Projects</p><hr size=4 color="SILVER"> <br> <p> &res</p><br><br> </td>
            </tr>
            <tr style="display: $f6">
                <td><p>Training/Internship</p><hr size=4 color="SILVER"> <br> <p>  &intern</p><br><br> </td>
            </tr>
            <tr style="display: $f7">
                <td> <p>Certifications </p><hr size=4 color="SILVER"> <br> <p> &certi</p><br><br> </td>
            </tr>
            <tr style="display: $f8">
                <td> <p>Position of Responsibility </p><hr size=4 color="SILVER"> <br> <p>&pos </p><br><br></td>
            </tr>
            <tr style="display: $f9">
                <td> <p>Entrepreneurship</p><hr size=4 color="SILVER"> <br> <p> &entre</p><br><br> </td>
            </tr>
            <tr style="display: $y1">
                <td> <p>Co-Curricular Activities </p><hr size=4 color="SILVER"> <br> <p>  &cocurr</p><br><br> </td>
            </tr>
            
<tr style="display: $y2">
                <td> <p>Moot Courts</p><hr size=4 color="SILVER"> <br> <p>  &moot</p><br><br> </td>
            </tr>
            
<tr style="display: $y3">
                <td> <p>Add on courses </p><hr size=4 color="SILVER"> <br> <p>  &add</p><br><br> </td>
            </tr>
            
        </table><br>
        <center>contact no:   $contact   || D.O.B: $dob   || Batch: $batch </center>
    </body>
</html>