<html>
    <head>
        <title> Template 7</title>
    <style>
        body
        {
		margin-top: 50px;
		margin-right: 40px;
		margin-bottom: 10px;
		margin-left: 50px;
	}
        #rcorners1
        {
            border-radius: 12px;
        }
	
    </style>
    </head>
    <body>
        <center>
        <table border="1" cellpadding="25" width="90%">
            <tr>
                <td id="rcorners1" rowspan="5" bgcolor="SILVER" width="350"> <font style="display: $n1">$name</font><br><font style="display: $n5">$discipline</font>
<font style="display:$img1">
<img src="data:image/jpg;base64, $imgname" alt="not found" align="right" height=150 width=120/>
</font>
  </td>
                <td id="rcorners1" style="display: $f1"><p>10th</p><hr> <p> &10</p></td>
            </tr>
            <tr> 
                <td id="rcorners1" style="display: $f2"><p>12th</p><hr> <p> &12</p></td>
            </tr>
            <tr>
                <td id="rcorners1" style="display: $f3"><p>Graduation  </p><hr> <p> &grad</p></td>
            </tr>
            <tr>
                <td id="rcorners1" style="display: $f4"><p>Thesis/Publications</p><hr> <p>&thesis </p></td>
            </tr>
            <tr>
                <td id="rcorners1" style="display: $f5"><p>Academic Achievements </p><hr> <p> &acad </p></td>
            </tr>
            <tr>
                <td id="rcorners1" rowspan="5" bgcolor="SILVER" width="350"> <font style="display: $n2">$email</font> <br> <font style="display: $n4">$address</font><br>
                <font style="display: $n3">Phone: $contact</font> 
                <td id="rcorners1" style="display: $f6"><p>Scholastic Achievements </p> <hr><p>&schol</p></td>
            </tr>
            <tr>
                <td id="rcorners1" style="display: $f7"><p>Seminars/Workshops</p><hr> <p>&seminar</p></td>
            </tr>
            <tr>
                <td id="rcorners1" style="display: $f8"><p>Co-Curricular Activities </p><hr> <p> &cocurr</p></td>
            </tr>
            <tr>
                <td id="rcorners1" style="display: $f9"><p>Miscellaneous </p><hr> <p> &misc </p></td>
            </tr>
           
                             
           </table><br>
        </center>
    <center>email: $email    || contact no: $contact   || D.O.B: $dob   || Batch: $batch</center>
    </body>
</html>